.info-title{
    text-align: center;
}
.info-subtitle{
    text-align: center;
}
.info{
    display: grid;
    justify-items: center;
}
.info-button{
    width: 128px;
}
.dishes-grid{
    grid-template-columns: repeat(auto-fit, minmax(75px,140px));
}