.hero{
    margin: 0;
    grid-auto-rows: 400px;
}
.hero{
    grid-template-columns: minmax(300px,500px);
    justify-content: center;
}
.hero-image{
    display: none;
}
.info-title{
    margin-top: 0;
}
.dishes-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px,150px));
    grid-auto-rows: 1fr;
    gap: 25px;
    justify-content: center;
}
.dishes{
    margin: 0;
}
