.contenedor{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 100px 100px 100px;
    grid-auto-columns: 100px;
    gap: 20px;
}
.item{
    font-size: 4rem;
    background-color: chartreuse;
}